/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  color: #fff;
}

/* Navigation Link Styles */
.bottom-nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

/* Icon Styles */
.bottom-nav i {
  font-size: 24px;
  margin-bottom: 5px;
}
/* Add this CSS to your App.css */
.hide {
  display: none;
}
